
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            
    Sign In

        </title>
        
        
    </head>
    <body>
        
            
            <div>
                <strong>Menu:</strong>
                <ul>
                    
                        <li>
                            <a href="/accounts/login/">Sign In</a>
                        </li>
                        <li>
                            <a href="/accounts/signup/">Sign Up</a>
                        </li>
                    
                </ul>
            </div>
            
    
        
<h1>
    
            Sign In Via Google
        
</h1>

        <p>
            You are about to sign in using a third-party account from Google.
        </p>
    
    
<form method="post" action="">
    
    
    
            <input type="hidden" name="csrfmiddlewaretoken" value="Py0gxZKdUfPWBgPOlJwUFIiqx4Ogf4s1ev0gYgjhsrnnBsTVuUl1JyjJxOxbclPk">
            

<button



type="submit"
>

                Continue
            
</button>

        
</form>


        
        
        
    </body>
</html>
