{% block content %}
<body class="container mt-3">  <h1>Reset Password</h1>
    <p>
        Enter your email to reset your password.
        <br>
        You will receive a code in your email after clicking Next.
      </p>
      
  <form method="post" action="/accounts/password/reset/" class="mb-3">  {% csrf_token %}  <div class="form-group">
      <label for="id_email" class="form-label">Email:</label>
      <input type="email" name="email" placeholder="example@whatevermail.com" autocomplete="email" maxlength="320" required id="id_email" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Next</button>
  </form>
</body>
</html>
{% endblock content %}
{% include "registration/base.html" %}
